node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
.idea
artifacts/*
cache
./coverage
.DS_Store
deployments/localhost
generated/
build/

tmp/
verify/cloneCollection.js

.openzeppelin/polygon.json
.openzeppelin/unknown-56.json
.vscode/
.openzeppelin/polygon-mumbai.json

deployments/
.solcover.js
gas-reporter.txt

package-backup.json

.openzeppelin/*

